<%= form_with model: event, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :map_image %>
      <%= f.file_field :map_image, class: 'form-control mb-3', accept: 'image/*' %>
      <%= f.hidden_field :map_image_cache %>
    </div>
  </div>
    
  <%= f.submit class: 'btn btn-primary' %>
<% end %>


    