<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
  <!-- ContextMenu CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.css">
  <link rel="stylesheet" href="https://rawgit.com/w8r/Leaflet.Bookmarks/master/dist/leaflet.bookmarks.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-responsive-popup@0.6.4/leaflet.responsive.popup.css" />

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
  <!-- ContextMenu JS -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script type="text/javascript" src="/js/L.Control.Bookmarks.js"></script>
  <script type="text/javascript" src="/js/bundle.js"></script>

  <script type="text/javascript" src="/js/leaflet.contextmenu.js"></script>
  <script src="https://unpkg.com/leaflet-responsive-popup@0.6.4/leaflet.responsive.popup.js"></script>

  <style>
    html, body {
        height: 100%;
        margin: 0px;
    }

    #map {
        position: static;
        height: 100%;
    }

    
  </style>
</head>

<body>
  <% content_for(:title, @event.title) %>
  <h1><%= @event.title %></h1>
  <%= link_to '編集', edit_event_path(@event), class: 'btn-link' %>
  <%= link_to 'イベント一覧に戻る', events_path, class: 'btn-link' %>

  <div class="text-right mb-3">
    <%= link_to 'サークルを追加', new_event_circle_path(@event), class: 'add-button' %>
  </div>

  <h3>サークル一覧</h3>

  <!-- サークル一覧 -->
  <%= render 'circles/circles', { circles: @circles } %>


  <div id='map'><%= image_tag @event.map_image.url %></div>


  <script>

  var map,
          cm,
          ll = new L.LatLng(-36.852668, 174.762675),
          ll2 = new L.LatLng(-36.86, 174.77);

      function showCoordinates (e) {
        alert(e.latlng);
      }

      function centerMap (e) {
        map.panTo(e.latlng);
      }

      function zoomIn (e) {
        map.zoomIn();
      }

      function zoomOut (e) {
        map.zoomOut();
      }


      map = L.map('map', {
        center: ll,
        zoom: 15,
        contextmenu: true,
        contextmenuWidth: 140,
        contextmenuItems: [{
          text: 'Bookmark this position',
          callback: function(evt) {
            this.fire('bookmark:new', { latlng: evt.latlng });
          }
        }]
      });


  var popup = L.responsivePopup().setContent('Leaflet Plugin ResponsivePopup Test Marker1<br>マーカー１');
    L.marker([35.7101, 139.8107]).addTo(map).bindPopup(popup);


  var control = new L.Control.Bookmarks().addTo(map);




  </script> 



</body>
</html>



