<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: @item, method: :post, url: event_circle_items_path(@circle), local: true do |f| %>


    <div class="form-group">
      <%= f.label :item_name %>
      <%= f.text_field :item_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :item_image %>
      <%= f.file_field :item_image, class: 'form-control mb-3', accept: 'image/*' %>
      <%= f.hidden_field :item_image_cache %>
    </div>
    <div class="form-group">
    <%= f.label :item_memo %>
    <%= f.text_field :item_memo, class: 'form-control' %>
  </div>
   
    <%= f.submit class: 'register-button' %>
    <% end %>
  </div>
</div>