<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">アイテム名</th>
      <th scope="col">金額</th>
      <th scope="col">メモ</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% if item.item_image_url %>
          <td><%= image_tag item.item_image_url, class: 'card-img-top' %></td>
        <% end %>
        <td><%= item.item_name %></td>
        <td><%= item.price %></td>
        <td><%= item.item_memo %></td>
        <td><%= link_to '編集', edit_event_circle_item_path(@event, @circle, item), class: 'show-button' %><td>
        <td><%= button_to '削除', event_circle_item_path(@event, @circle, item), class: 'show-button', method: :delete, data: { turbo_confirm: 'Are you sure?' } %></td>       
      </tr>
    <% end %>
  </tbody>
</table>