<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="hall">ホール</th>
      <th scope="col" class="circle-no">スペース番号</th>
      <th scope="col" class="circle-name">サークル名</th>
      <th scope="col" class="show"></th>
      <th scope="col" class="edit"></th>
      <th scope="col" class="destroy"></th>
    </tr>
  </thead>

  <tbody>
    <% @circles.each do |circle| %>
      <tr>
        <% if circle.circle_image_url %>
          <td><%= image_tag circle.circle_image_url, class: 'card-img-top' %></td>
        <% end %>
        <td><%= circle.hall_no %></td>
        <td><%= circle.circle_no %></td>
        <td><%= circle.circle_name %></td>
        <td><%= link_to '詳細', event_circle_path(@event, circle), class: "show-button" %></td>
        <td><%= link_to '編集', edit_event_circle_path(@event, circle), class: "show-button" %><td>
        <td><%= button_to '削除', event_circle_path(@event, circle), class: "show-button", method: :delete, data: { turbo_confirm: 'Are you sure?' } %></td>       
      </tr>
    <% end %>
  </tbody>
</table>